@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}

body {
  background-color: #EDEEF0;
  color: #333;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 20px;
}

article{
  height: 100%;
  min-height: 600px;
}

footer {
  background-color: #4A76A8;
  height: 50px;
}
footer p {
  padding-top: 15px;
  color: white;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    padding-top: 10px;
  }
}